In [31]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import pandas_datareader as pdr

In [41]:
amzn = pdr.get_data_yahoo('AMZN', '20121101')
goog = pdr.get_data_yahoo('GOOG', '2012-11-01')
ambv = pdr.get_data_yahoo('ABEV', '20121101')

In [42]:
ambv.tail()

            High   Low  Open  Close      Volume  Adj Close
Date
2019-05-17  4.17  4.01  4.11   4.05  38060800.0       4.05
2019-05-20  4.08  4.00  4.02   4.04  37947200.0       4.04
2019-05-21  4.25  4.05  4.09   4.21  19373000.0       4.21
2019-05-22  4.30  4.22  4.25   4.25  36243500.0       4.25
2019-05-23  4.32  4.21  4.22   4.26  21291285.0       4.26

In [40]:
ambv

              High     Low    Open   Close      Volume  Adj Close
Date
2010-01-04  3.6000  3.4884  3.4884  3.6000     40000.0   1.505034
2010-01-05  3.5800  3.5408  3.5800  3.5752    187500.0   1.494666
2010-01-06  3.6200  3.5652  3.5684  3.5944    117500.0   1.502693
2010-01-07  3.6008  3.5396  3.5920  3.5804    135000.0   1.496839
2010-01-08  3.6392  3.5776  3.5776  3.6372    222500.0   1.520586
2010-01-11  3.6012  3.5888  3.6008  3.5888     37500.0   1.500351
2010-01-12  3.5652  3.4992  3.4992  3.5600    182500.0   1.488311
2010-01-13  3.5940  3.5532  3.5940  3.5668     57500.0   1.491154
2010-01-14  3.6632  3.5472  3.5528  3.6200    102500.0   1.513395
2010-01-15  3.6252  3.5564  3.6252  3.5572    107500.0   1.487140
2010-01-19  3.6400  3.5736  3.5864  3.5960    332500.0   1.503361
2010-01-20  3.5752  3.4524  3.5748  3.4868   1230000.0   1.457708
2010-01-21  3.5440  3.3580  3.5200  3.4776    807500.0   1.453863
2010-01-22  3.4616  3.4000  3.4120  3.4516    110000.0   1.442993
2010-01-25  3.4692  3.4200  3.4692  3.4584     20000.0   1.445836
2010-01-26  3.4156  3.3700  3.4156  3.3700    250000.0   1.408879
2010-01-27  3.3500  3.2864  3.3500  3.3080    332500.0   1.382959
2010-01-28  3.3876  3.3064  3.3472  3.3500   1052500.0   1.400517
2010-01-29  3.3512  3.1360  3.3460  3.1360   2575000.0   1.311052
2010-02-01  3.3108  3.1860  3.1900  3.2900    635000.0   1.375433
2010-02-02  3.4400  3.3304  3.3448  3.4000    680000.0   1.421421
2010-02-03  3.4232  3.3528  3.4232  3.3696    590000.0   1.408712
2010-02-04  3.3532  3.1860  3.3532  3.1868    122500.0   1.332289
2010-02-05  3.1956  3.0528  3.1956  3.1468    187500.0   1.315567
2010-02-08  3.1496  3.0980  3.1496  3.1004     82500.0   1.296168
2010-02-09  3.1800  3.1184  3.1516  3.1184    245000.0   1.303694
2010-02-10  3.1496  3.0800  3.1396  3.1480     25000.0   1.316069
2010-02-11  3.2068  3.1200  3.1340  3.2068     80000.0   1.340651
2010-02-12  3.1920  3.1200  3.1800  3.1908    100000.0   1.333961
2010-02-16  3.2616  3.2020  3.2020  3.2352     45000.0   1.352523
...            ...     ...     ...     ...         ...        ...
2019-04-11  4.5800  4.4200  4.5400  4.4500  23572700.0   4.450000
2019-04-12  4.5200  4.3500  4.4200  4.4100  30096600.0   4.410000
2019-04-15  4.4800  4.4200  4.4500  4.4800  24394600.0   4.480000
2019-04-16  4.5400  4.4400  4.4600  4.4600  13796900.0   4.460000
2019-04-17  4.4700  4.2900  4.4700  4.3400  17174200.0   4.340000
2019-04-18  4.3600  4.2700  4.3000  4.3600  24784000.0   4.360000
2019-04-22  4.4800  4.3300  4.3300  4.4300  24187500.0   4.430000
2019-04-23  4.5400  4.4600  4.4600  4.5000  20240800.0   4.500000
2019-04-24  4.4700  4.3500  4.4400  4.4500  21714600.0   4.450000
2019-04-25  4.6400  4.4400  4.4800  4.6200  25578800.0   4.620000
2019-04-26  4.6600  4.5700  4.6000  4.6200  16108400.0   4.620000
2019-04-29  4.7000  4.6200  4.6500  4.6800  26088500.0   4.680000
2019-04-30  4.7300  4.6000  4.7000  4.7100  25537200.0   4.710000
2019-05-01  4.7600  4.6300  4.7000  4.6500  13150600.0   4.650000
2019-05-02  4.6800  4.5300  4.6100  4.5600  23684300.0   4.560000
2019-05-03  4.5900  4.4900  4.5700  4.5700  25318700.0   4.570000
2019-05-06  4.6000  4.4900  4.5100  4.5500  16352800.0   4.550000
2019-05-07  4.5000  4.3100  4.5000  4.4700  47354700.0   4.470000
2019-05-08  4.5800  4.4900  4.5000  4.5600  49348300.0   4.560000
2019-05-09  4.5000  4.4000  4.4600  4.4200  26688400.0   4.420000
2019-05-10  4.4500  4.3200  4.4200  4.3800  19658400.0   4.380000
2019-05-13  4.3200  4.2500  4.2900  4.2900  37587000.0   4.290000
2019-05-14  4.3000  4.2100  4.2900  4.2700  34348700.0   4.270000
2019-05-15  4.2000  4.1400  4.1600  4.1400  22853300.0   4.140000
2019-05-16  4.1900  4.0900  4.1000  4.1400  32202600.0   4.140000
2019-05-17  4.1700  4.0100  4.1100  4.0500  38060800.0   4.050000
2019-05-20  4.0800  4.0000  4.0200  4.0400  37947200.0   4.040000
2019-05-21  4.2500  4.0500  4.0900  4.2100  19373000.0   4.210000
2019-05-22  4.3000  4.2200  4.2500  4.2500  36243500.0   4.250000
2019-05-23  4.3200  4.2100  4.2200  4.2600  21291285.0   4.260000

[2363 rows x 6 columns]

In [13]:
print(amzn.info(), goog.info(), ambv.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1649 entries, 2012-11-01 to 2019-05-22
Data columns (total 6 columns):
High         1649 non-null float64
Low          1649 non-null float64
Open         1649 non-null float64
Close        1649 non-null float64
Volume       1649 non-null int64
Adj Close    1649 non-null float64
dtypes: float64(5), int64(1)
memory usage: 90.2 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1649 entries, 2012-11-01 to 2019-05-22
Data columns (total 6 columns):
High         1649 non-null float64
Low          1649 non-null float64
Open         1649 non-null float64
Close        1649 non-null float64
Volume       1649 non-null float64
Adj Close    1649 non-null float64
dtypes: float64(6)
memory usage: 90.2 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1649 entries, 2012-11-01 to 2019-05-22
Data columns (total 6 columns):
High         1649 non-null float64
Low          1649 non-null float64
Open         1649 non-null float64
Close        1649 non-null float64
Volume       1649 non-null float64
Adj Close    1649 non-null float64
dtypes: float64(6)
memory usage: 90.2 KB
None None None

In [15]:
a = list(range(100000))
%timeit [val + 5 for val in a]

6.31 ms ± 91.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [16]:
a = np.array(a)
%timeit a + 5

70.7 µs ± 911 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [1]:
import numpy as np
array1 = np.array([2,6,4])
array2 = np.array([True, False, True])

array3 = array1 / array2

print(array3)

[ 2. inf  4.]

C:\Users\RAPHAELHENRYKDASILVA\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in true_divide
  """